# Advent Code Day 3

In [64]:
import numpy as np
import pandas as pd
from matplotlib import pyplot
from shapely.geometry import box
#from figures import BLUE, GRAY, YELLOW, GREEN, SIZE, set_limits, plot_coords

In [53]:
df = pd.read_csv('slice.csv', header=None)
df.head()

                     0
0   #1 @ 520,746: 4x20
1  #2 @ 274,680: 19x26
2  #3 @ 928,402: 16x24
3  #4 @ 338,969: 27x15
4   #5 @ 48,306: 21x16

In [54]:
#df = df.rename(columns={'0':'values'})
df['num'] = df[0].str.split(' ').str.get(0)
df['@'] = df[0].str.split(' ').str.get(1)
df['coord'] = df[0].str.split(' ').str.get(2)
df['x'] = df['coord'].str.split(',').str.get(0).astype(int)
df['y'] = df['coord'].str.split(',').str.get(1)
df['dim'] = df[0].str.split(' ').str.get(3)
df['len'] = df['dim'].str.split('x').str.get(0).astype(int)
df['height'] = df['dim'].str.split('x').str.get(1).astype(int)
df.head()

                     0 num  @     coord    x     y    dim  len  height
0   #1 @ 520,746: 4x20  #1  @  520,746:  520  746:   4x20    4      20
1  #2 @ 274,680: 19x26  #2  @  274,680:  274  680:  19x26   19      26
2  #3 @ 928,402: 16x24  #3  @  928,402:  928  402:  16x24   16      24
3  #4 @ 338,969: 27x15  #4  @  338,969:  338  969:  27x15   27      15
4   #5 @ 48,306: 21x16  #5  @   48,306:   48  306:  21x16   21      16

In [56]:
df_clean = df
df_clean = df_clean.drop(columns=['num','@','coord','dim'])
df_clean['y'] = df_clean['y'].str.replace(':','').astype(int)
df_clean['x_max'] = df_clean['x'] + df_clean['len']
df_clean['y_max'] = df_clean['y'] + df_clean['height']
df_clean.head()

                     0    x    y  len  height  x_max  y_min
0   #1 @ 520,746: 4x20  520  746    4      20    524    726
1  #2 @ 274,680: 19x26  274  680   19      26    293    654
2  #3 @ 928,402: 16x24  928  402   16      24    944    378
3  #4 @ 338,969: 27x15  338  969   27      15    365    954
4   #5 @ 48,306: 21x16   48  306   21      16     69    290

## Experimenting with Shapely
### box(minx, miny, maxx, maxy)

In [67]:
b1 = box(0.0, 0.0, 1.0, 1.0)
b1

In [68]:
list(b1.exterior.coords)

[(1.0, 0.0), (1.0, 1.0), (0.0, 1.0), (0.0, 0.0), (1.0, 0.0)]

In [70]:

b2 = box(0.0, 0.0, 1.0, 1.0)
b2

In [72]:
list(b2.exterior.coords)

[(1.0, 0.0), (1.0, 1.0), (0.0, 1.0), (0.0, 0.0), (1.0, 0.0)]

In [73]:
b1.intersects(b2)

True

In [77]:
b3 = box(df_clean.iloc[0,1],df_clean.iloc[0,5], df_clean.iloc[0,6], df_clean.iloc[0,2])
b3

In [78]:
list(b3.exterior.coords)

[(726.0, 524.0),
 (726.0, 746.0),
 (520.0, 746.0),
 (520.0, 524.0),
 (726.0, 524.0)]

# Using Shapely on the DF

In [80]:
len(df_clean)

1407

In [105]:
# create a place to store all of the boxes
i = 0
box_list = []
while i < 1407:
    b = box(df_clean.iloc[i,1],df_clean.iloc[i,5], df_clean.iloc[i,6], df_clean.iloc[i,2])
    box_list.append(b)
    i += 1
len(box_list)

1407

In [106]:
# another test of logic
# logic = box_list[0].intersects(box_list[4])
# logic

In [107]:
# test_list = [1, 2, 3, 4, 5]
# test_list2 = test_list[1:]
# test_list2

In [110]:
# creating a place to store all of the results
intersect_list = []

j = 0
while j < 1407:
    for x in box_list:
        logic = box_list[j].intersects(x)
        intersect_list.append(logic)
    j += 1
    box_list = box_list[j:]    
    

print(len(intersect_list))
print(intersect_list)

IndexError: list index out of range